.menu-item {
    color: #E0E0E0 !important;
    padding-top : 10px;
    padding-left: 5px;
}

.menu-item:hover {
    color: #ff4081 !important;
    cursor: pointer;
}

.menu-item-selected {
    color: #00bcd4 !important;
    padding-top : 10px;
    padding-left: 5px;
}

.menu-item-selected:hover {
    cursor: default;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 18px;
  left: 26px;
  top: 33px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #00bcd4;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #00bcd4;
}

.bm-menu-wrap {
  z-index: 1100 !important;
  width: 280px !important;
}

/* General sidebar styles */
.bm-menu {
  overflow: hidden !important;
  background: #212121;
  padding: 5px 5px;
  font-size: 1em;
}

.bm-menu a {
    padding: 8px 5px 8px !important;
    font-size: 1.2em !important;
    text-decoration: none;
    transition:all 1s ease;
    -webkit-transition-delay:all 1s ease;
    -moz-transition-delay:all 1s ease;
    -ms-transition-delay:all 1s ease;
    -o-transition-delay:all 1s ease;
}

.bm-menu a span.material-icons {
    padding: 0px 15px 0px 0px !important;
    font-size: 20px !important;
    color: inherit !important;
}

.bm-menu a span.menu-title {
    font-variant: small-caps;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 80px 15px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}