html, body {
    background: #212121;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    color: white;
}

#app {
    width: 100%;
    height: 100%;
}

#body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 28px 30px 50px 75px;
}

#page-content {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

#language {
    position: fixed;
    top: 20px;
    right: 30px;
}

.title-page {
    text-align: left;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-variant: small-caps;
    padding-left: 10px;
}

.subtitle-page {
    text-align: left;
    width: 100%;
    height: 20px;
    line-height: 30px;
    font-size: 17px;
    color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-variant: small-caps;
    margin-top: 20px;
}

#pageConsult-Header {
    width: 100%;
    height: 70px;
}

#pageConsult-Body {
    width: 100%;
    height: calc(100% - 200px);
}

.pageDashboard-ElBody {
    width: 100%;
    height: calc(100% - 56px);
}

#pageAlgorithm-ElBody {
    width: 100%;
    height: calc(100% - 56px);
}

#pageDashboard-Tools {
    z-index: 1000;
    position: fixed;
    top: 100px;
    right: 0px;
}

.codeArea {
    width: 100%;
    height: calc(100% - 100px);
}